.landing{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 50px;
}

#self-service-title{
    margin-bottom: 20px;
    color: #333333;
}

.landing-hr {
    background-color: #2c6ca6;
    height: 5px;
    width: 200px;
    margin-top: 0;
    outline: #2c6ca6;
}

.landing-p{
    width: 97%;
    font-size: 16px;
    color: #333333;
    margin: 20px 0;
    text-align: center;
}

.selection{
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.graduation-cap-icon,.teacher-icon,.schedule-icon{
    width: 70px;
    height: 70px;
}

.graduation-cap-icon{
    color: blue;
}

.student-homepage,.faculty-homepage,.course-homepage{
    /* width: 200px;
    /* height: 100px; */
    flex: 1;
    margin: 10px;
    padding: 30px;
    /* background-color: orange; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #2c6ca6;
    border-radius: 5px;
    background-color: white;
}

h2{
    margin-top: 20px;
}

.h-p{
    color: gray;
    margin-top: 10px;
    white-space: nowrap;
}

@media screen and (max-width: 1050px){
    .landing{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .landing{
        margin: 30px;
    }
    .selection{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 700px){
    .landing{
        margin: 10px;
    }
    .selection{
        flex-direction: column;
    }
}