.landing{
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#self-service-title{
    margin-bottom: 20px;
    color: #333333;
}

.landing-hr {
    background-color: #2c6ca6;
    height: 4px;
    width: 200px;
    margin-top: 0;
    outline: #2c6ca6;
}

p{
    font-size: 16px;
    color: #333333;
}

.selection{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.graduation-cap-icon,.teacher-icon,.schedule-icon{
    width: 70px;
    height: 70px;
}

.graduation-cap-icon{
    color: blue;
}

.student-homepage,.faculty-homepage,.course-homepage{
    /* width: 200px;
    height: 100px; */
    flex: 1;
    margin: 10px;
    padding: 30px;
    /* background-color: orange; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #2c6ca6;
    border-radius: 5px;
}

.h-p{
    color: gray;
}