*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
